{% extends 'base.html' %}
{% block conteudo %}
<div class="container-sm">
    <h2 style="display: flex; justify-content: center;">Editar Passageiro</h2>
    <form id="passageiro" action="{% url 'create_passageiro' %}" method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <div style="display: flex; justify-content: center;">
            <button type="submit" class="btn btn-primary m-2" form="passageiro">Enviar</button>
            <button type="reset" class="btn btn-danger m-2" form="passageiro">Limpar</button>
            <a href="{% url 'list_passageiros' %}">
                <button type="button" class="btn btn-secondary m-2">Voltar</button>
            </a>
        </div>
    </form>
</div>
{% endblock %}