{% extends 'base.html' %}
{% block conteudo %}
<div  class="container-sm" style=" display: flex; justify-content: center;">
    <a href="{% url 'add_passageiro' voo.id %}">
        <button type="button" class="btn btn-success">Adicionar Passageiro</button>
    </a>
</div>

    <table class="table">
        <thead>
        <tr>
            <th scope="col">Cód</th>
            <th scope="col">Nome</th>
            <th scope="col">Nacionalidade</th>
            <th scope="col">Telefone</th>
            <th scope="col">Identidade</th>
            <th scope="col">Passaporte</th>
            <th scope="col">Opções</th>
        </tr>
        </thead>
        <tbody>
        {% for passageiro in tripulacao %}
        <tr>
            <th scope="row">{{passageiro.cod}}</th>
            <td>{{passageiro.nome}}</td>
            <td>{{passageiro.nacionalidade}}</td>
            <td>{{passageiro.telefone}}</td>
            <td>{{passageiro.identidade}}</td>
            <td>{{passageiro.passaporte}}</td>
            <td>
                <a href="{% url 'delete_tripulante' passageiro.id voo.id%}"><button id="{{passageiro.id}}" type="button" class="btn btn-danger">Excluir</button></a>
            </td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
